
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.lie-content {
    font-family: Roboto Mono;
    font-size: 1.4rem;
}

#title {
    text-align: center;
    font-size: 4rem;
}

#players {
    max-width: 800px;
    margin: auto;
    display: block;
}

#input {
    text-align: center;
    padding: 1em;
}

input {
    font-family: Roboto Mono;
    font-size: 1.5rem;
}

button {
    font-family: Roboto Mono;
    font-size: 1.5rem;
    background-color: #ddd;
    transition: background-color 0.5s;
    border-radius: 4px;
    border: 3px solid #666;
}

button:hover {
    background-color: #777;
    border: 3px solid #333;
}

#word {
    background-color: black;
    font-weight: bold;
}

#word:hover {
    background-color: white;
}

button:disabled {
    background-color: lightgray;
}

.kick-button {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

.kick-button:hover {
    color: pink;
}