
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.lie-content {
    font-family: Roboto Mono;
    font-size: 1.4rem;
}

#title {
    text-align: center;
    font-size: 4rem;
}

#players {
    max-width: 800px;
    margin: auto;
    display: block;
}

#input {
    text-align: center;
    padding: 1em;
}

input {
    font-family: Roboto Mono;
    font-size: 1.5rem;
}

button {
    font-family: Roboto Mono;
    font-size: 1.45rem;
    background-color: #ddd;
    transition: background-color 0.5s;
    border-radius: 4px;
    border: 3px solid #666;
    font-weight: 600;
}

button:hover {
    background-color: #777;
    border: 3px solid #333;
}

#word {
    background-color: black;
    font-weight: bold;
}

#word:hover {
    background-color: white;
}

button:disabled {
    background-color: lightgray;
}

.kick-button {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

.kick-button:hover {
    color: pink;
}

#wiki-buttons {
    text-align: center;
}

.choosing-icon {
    height: 1.1rem;
}


#player-list li {
    vertical-align: bottom;
}

#wiki-drop-down {
    display: block;
    max-width: 800px;
    margin: auto;
    background-color: 'blue';
}

.drop-down-line {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 1.5rem;
}

.drop-down-line span {
    margin-left: 20px;
    background: #fff;
    padding: 0 10px;
    transition: color 0.6s;
}

.drop-down-line span:hover {
    color: #aaa;
}

#wiki-content {
    overflow: hidden;
    transition: height 0.75s;
}